<div class="comments-card"
    [class.open]="item">
    <p *ngIf="item" class="title">Comments #{{item.id}}</p>

    <ul *ngIf="item && item.comments.length" class="comments-list">
        <li *ngFor="let comment of item.comments" class="comments-list__item">
            <div class="comments-img"></div>
            <div class="comments-txt">
                <p class="txt">{{comment.text}}</p>
            </div>
        </li>
    </ul>

    <p *ngIf="item && !item.comments.length" class="no-match-msg">There are no commetns :)</p>

    <app-comments-form *ngIf="item" (submitEvent)="onSubmit($event)"></app-comments-form>
</div>
