<p class="title">Comments #2</p>

<ul class="comments-list">
    <li class="comments-list__item">
        <div class="comments-img"></div>   
        <div class="comments-txt">
            <p class="txt">A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s</p>
        </div>   
    </li>
    <li class="comments-list__item">
        <div class="comments-img"></div>   
        <div class="comments-txt">
            <p class="txt">A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s</p>
        </div>   
    </li>
    <li class="comments-list__item">
        <div class="comments-img"></div>   
        <div class="comments-txt">
            <p class="txt">A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980sA variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980sA variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s</p>
        </div>   
    </li>
</ul>

<app-comments-form></app-comments-form>
