.item-txt {
    font-family: 'OpenSans-Semibold';
    font-size: 16px;

    .badge {
        background: #27CCC0;
        border-radius: 100px;
        color: #fff;
        font-family: 'OpenSans-Bold';
        font-size: 13px;
        margin-left: 5px;
        text-align: center;
        padding: 1px 10px;
    }
}
