.sidebar {
    background: #2B2F3E;
    height: 100%;
    padding: 22px 27px;
}

.sidebar__title {
    color: #fff;
    font-size: 36px;
    font-weight: lighter;
    font-family: 'OpenSans-Light';
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sidebar__descr {
    color: #808080;
    font-size: 18px;
}