.main-content {
    padding: 33px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .card-list__item {
        width: 47.1%;
        &.items-card {
            width: 50.8%;
        }
    }
}

.card-list__item {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    padding: 15px 0;
    min-height: 523px;
}
