.main-content {
    padding: 33px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .card-list__item {
        width: 47.1%;
        &:first-child {
            width: 50.8%;
        }
    }
}
